.container {
    max-width: 74rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.col {
    flex-direction: column
}

.col,
.row {
    display: flex
}

.rest {
    flex-grow: 1
}

.jc-end {
    justify-content: flex-end
}

.jc-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center
}

#app {
    position: relative;
}

.modal {
    position: fixed;
    z-index: 2;
    width: 40rem;
    height: 30rem;
    margin: auto;
    background-color: #f7f7f7;
}

.rel {
    position: relative;
}

.bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
}

.user-nav {
    &>* {
        margin-left: 3px;
    }
}

.mr5 {
    margin-right: 5px;
}

.brand_sub {
    text-align: center;
    color: #778;
    font-size: 14px;
    margin-top: 6px;
}

.only-mobile {
    display: none
}

@media (max-width:50rem) {
    .container {
        // width: 100%
    }
}

@media (max-width:50rem) {
    .simple-form {
        width: inherit
    }
    .simple-form input {
        width: 100%
    }
}

.logo {
    width: 40px;
}

.brand-text {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 8px;
}

.brand {
    display: flex;
    align-items: center;
}

.menu-icon-box {
    width: 2rem;
    display: inline-block;
    height: 2rem;
    margin-right: 1rem;
}

.menu-icon {
    font-size: 2rem;
}

.menu-icon-box>.menu-icon {
    display: none;
}

.menu {
    display: flex;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    max-width: 74rem;
    margin: 0 auto;
    padding: 0 1rem;
}

@media screen and (max-width: 650px) {
    .menu {
        display: none;
    }
    .menu.show {
        padding: 1rem;
        position: absolute;
        display: block;
        width: 100px;
        top: 70px;
        left: 0;
        background-color: #f6f6f6;
        height: 100%;
        z-index: 100;
    }
    .gnb>a {
        display: block;
    }
    .unb>span {
        display: block;
    }
    .menu-icon-box>.menu-icon {
        display: block;
    }
    .header-inner {
        display: block;
    }
    .gnb>a {
        margin-bottom: 0.25rem;
        padding:0.25rem 0;
    }
    .unb{
        margin-top: 0.5rem;
    }
}